/*
	color scheme ideas:
*/
* {
  border: 1px solid black;
  padding: 1px; }

body {
  text-align: center; }

/*main container for the app*/
#main {
  width: 50em;
  max-width: 100%;
  display: inline-block;
  font-size: 100%; }

.recipe {
  border: 2px solid green;
  background-color: #AAA;
  margin-top: 1em;
  margin-bottom: 1em; }
  .recipe .recipe-details {
    display: inline-block;
    width: 100%;
    border: 1px solid orange;
    /*used for ingredient list and directions box */
    /* ingredient list */ }
    .recipe .recipe-details ul {
      display: inline-block;
      height: 100%;
      list-style-position: inside; }
    .recipe .recipe-details .recipe-ingredients {
      float: left;
      display: inline-block;
      background-color: #DDD;
      margin: 0.25em;
      width: calc( 50% - ( 0.25em * 2 )); }
      @media (max-width: 25em) {
        .recipe .recipe-details .recipe-ingredients {
          width: calc( 100% - ( 0.25em * 2 )); } }
      .recipe .recipe-details .recipe-ingredients .edit-ingreient {
        width: calc( 100% - 3.5em - 4px ); }
      .recipe .recipe-details .recipe-ingredients .button-ingredient-delete {
        width: 3.5em; }
      .recipe .recipe-details .recipe-ingredients .button-ingredient-new {
        width: 100%; }
    .recipe .recipe-details .recipe-directions {
      background-color: #DDD;
      float: right;
      display: inline-block;
      min-height: 2em;
      margin: 0.25em;
      width: calc( 50% - ( 0.25em * 2 ) - 8px );
      /* FIX THIS LATER !!!! !!!! !!!! */
      height: 100%; }
      @media (max-width: 25em) {
        .recipe .recipe-details .recipe-directions {
          width: calc( 100% - ( 0.25em * 2 )); } }
      .recipe .recipe-details .recipe-directions .recipe-directions-edit {
        /*is a <textarea> */
        width: calc( 100% - 8px - 0.5em - 0.5em);
        /* replace with variables */
        min-height: 10em;
        padding: 0.5em;
        resize: vertical; }
        @media (max-width: 25em) {
          .recipe .recipe-details .recipe-directions .recipe-directions-edit {
            width: 100%; } }

.recipe-name {
  background-color: #DDD;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }
  .recipe-name h2 {
    margin: 0; }
  .recipe-name:hover {
    background-color: white; }

.edit-recipe-title {
  width: 100%;
  /* text that says "RECIPE NAME:" */ }
  .edit-recipe-title .edit-recipe-title-instructions {
    background-color: #DDD;
    display: inline-block;
    width: 8em; }
    @media (max-width: 25em) {
      .edit-recipe-title .edit-recipe-title-instructions {
        width: 100%; } }
  .edit-recipe-title .edit-recipe-title-field {
    display: inline-block;
    /* TODO: make it pixerl perfect */
    width: calc( 90% - 8em ); }
    @media (max-width: 25em) {
      .edit-recipe-title .edit-recipe-title-field {
        width: 100%; } }

.recipe-name-bar {
  padding: 0; }
  .recipe-name-bar .recipe-name {
    display: inline-block;
    width: calc( 100% - 10em - 8px );
    margin: 0;
    padding: 0; }
    @media (max-width: 25em) {
      .recipe-name-bar .recipe-name {
        width: 100%; } }
    .recipe-name-bar .recipe-name h2 {
      margin: 0;
      padding: 0; }
  .recipe-name-bar .recipe-buttons {
    float: right;
    display: inline-block;
    border: 1px solid red;
    width: 10em; }
    @media (max-width: 25em) {
      .recipe-name-bar .recipe-buttons {
        width: 100%; } }
    .recipe-name-bar .recipe-buttons button {
      width: 50%; }
      @media (max-width: 25em) {
        .recipe-name-bar .recipe-buttons button {
          font-size: 60%; } }

#button-add-new {
  width: 100%; }

#button-reset-app {
  float: right; }

.subdued-button {
  background-color: #AAA;
  color: #BBB; }

/* save and cancel buttons when editing */
.chunky-button {
  font-size: 125%;
  padding: 0.25em;
  margin: 0.25em;
  border-radius: 0.50em;
  width: 5em; }
  .chunky-button.button-save {
    background-color: #79f; }
  .chunky-button.button-cancel {
    background-color: #f97; }

.button-edit {
  background-color: #79f; }

.button-delete {
  background-color: #f97; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

/*# sourceMappingURL=sass.css.map */
